<thead></thead>
<tbody>
  <div class="calculator">
    <ul>
      <li class="amount"><b>Miktar</b></li>
      <li class="entry">
        <input
          id="amount"
          type="number"
          [(ngModel)]="amount"
          autocomplete="off"
        />
      </li>
      <br />
      <li class="from"><b>Biriminden</b></li>
      <li class="fromCurrency">
        <select name="" id="fromCurrency" [(ngModel)]="fromCurrency">
          <option *ngFor="let item of currencies" [ngValue]="item.forexBuying">
            {{ item.currencyName }}
          </option>
        </select>
      </li>
      <li class="to"><b>Birimine</b></li>
      <li class="toCurrency">
        <select #c2 name="" id="toCurrency" [(ngModel)]="toCurrency">
          <option *ngFor="let item of currencies" [ngValue]="item.forexBuying">
            {{ item.currencyName }}
          </option>
        </select>
      </li>
      <li>
        <button type="button" (click)="calculate()">Hesapla</button>
      </li>
      <li class="result"><b>Sonuç</b></li>
      <li><p name="result" id="result" type="text">{{result}}</p></li>
    </ul>
  </div>
</tbody>
