<div>
  <input [(ngModel)]="selectedDate" type="date">
  <button (click)="getAllByDate()">Tarih seçiniz</button>
  <button (click)="reload()">Bugün</button>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Currency Name</th>
        <th scope="col">Forex Buying</th>
        <th scope="col">Forex Selling</th>
        <th scope="col">Banknote Buying</th>
        <th scope="col">Banknote Selling</th>
        <th scope="col">Cross Rate USD</th>
        <th scope="col">Currency Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of currencies">
        <td>{{ item.id }}</td>
        <td>{{ item.currencyName ? item.currencyName : '-'}}</td>
        <td>{{ item.forexBuying ? item.forexBuying : '-'}}</td>
        <td>{{ item.forexSelling ? item.forexSelling : '-'}}</td>
        <td>{{ item.banknoteBuying ? item.banknoteBuying : '-'}}</td>
        <td>{{ item.banknoteSelling ? item.banknoteSelling : '-'}}</td>
        <td>{{ item.crossRateUSD ? item.crossRateUSD : '-'}}</td>
        <td>{{ item.currencyDate ? (item.currencyDate | date:'dd/MM/yyyy') : '-'}}</td>
      </tr>
    </tbody>
  </table>
</div>