<br>
<div class="form">
  <form [formGroup]="dateFormGroup">
    <input type="date" id="currentDate" formControlName="currentDate">
    <button (click)="setCurrentDate()">Tarihe Git</button>
    &nbsp;
    <button (click)="reload()">Bugün</button>
  </form>
</div>
<br>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Birim Kodu</th>
        <th scope="col">Birim Adı</th>
        <th scope="col">Döviz Alış</th>
        <th scope="col">Döviz Satış</th>
        <th scope="col">Efektif Alış</th>
        <th scope="col">Efektif Satış</th>
        <th scope="col">Çapraz kurlar/USD</th>
        <th scope="col">Tarih</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of currencies">
        <td>{{ item.id }}</td>
        <td><img [src]="item.currencyImage ? item.currencyImage : ''">{{ item.currencyCode ? item.currencyCode : '-'}}</td>
        <td>{{ item.currencyName ? item.currencyName : '-'}}</td>
        <td>{{ item.forexBuying ? item.forexBuying : '-'}}</td>
        <td>{{ item.forexSelling ? item.forexSelling : '-'}}</td>
        <td>{{ item.banknoteBuying ? item.banknoteBuying : '-'}}</td>
        <td>{{ item.banknoteSelling ? item.banknoteSelling : '-'}}</td>
        <td>{{ item.crossRateUSD ? item.crossRateUSD : '-'}}</td>
        <td>{{ item.currencyDate ? (item.currencyDate | date:'dd/MM/yyyy') : '-'}}</td>
      </tr>
    </tbody>
  </table>
</div>